@charset "UTF-8";

:root {
  --bgcolor: #eee;
  --maincolor: white;
  --headercolor: #000;
  --fontcolor: #3d3d3d;
  --secondcolor: #20c1bd;
  --fontsize: 16px;
  --descriptionfontsize: 20px;
  --h1size: 46px;
}

@media (max-width: 750px) {
  :root {
    --bgcolor: #eee;
    --maincolor: white;
    --headercolor: #000;
    --fontcolor: #3d3d3d;
    --secondcolor: #20c1bd;
    --fontsize: 14px;
    --descriptionfontsize: 18px;
    --h1size: 36px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  background: var(--bgcolor);
  color: var(--fontcolor);
}

#header {
  text-align: center;
}

#title {
  font-size: var(--h1size);
  color: var(--headercolor);
}

#description {
  font-size: var(--descriptionfontsize);
  text-align: center;
  position: relative;
  top: -30px;
  width: 500px;
  margin: 0 auto;
}

span {
  text-decoration: underline;
  text-decoration-color: var(--secondcolor);
}

#form {
  background: var(--maincolor);
  padding: 2vh max(15vw, 50px);
  margin: 0px 20vw 20px 20vw;
  line-height: 1.75;
  text-align: center;
  font-size: var(--fontsize);
}

input {
  width: 100%;
  padding: 5px 15px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: var(--bgcolor);
  color: var(--fontcolor);
  border-color: var(--secondcolor);
  padding: 6px 12px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
}

#note {
  border-style: solid;
  border-color: var(--secondcolor);
  border-radius: 2.5%;
  margin: 4px;
}

@media (min-width: 1000px) {
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    width: 265px;
  }
}

@media (max-width: 1000px) {
  #form {
    margin: 0px 15vw 20px 15vw;
  }
}
